.pptPdfpdfPage1Of51,
.pptPdfpdfPage2Of51 {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage2Of51 {
  top: 405px;
}
.pptPdfpdfPage3Of51,
.pptPdfpdfPage5Of51,
.pptPdfpdfPage6Of51,
.pptPdfpdfPage7Of51,
.pptPdfpdfPage8Of51 {
  position: absolute;
  top: 810px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage5Of51,
.pptPdfpdfPage6Of51,
.pptPdfpdfPage7Of51,
.pptPdfpdfPage8Of51 {
  top: 1215px;
}
.pptPdfpdfPage6Of51,
.pptPdfpdfPage7Of51,
.pptPdfpdfPage8Of51 {
  top: 1620px;
}
.pptPdfpdfPage7Of51,
.pptPdfpdfPage8Of51 {
  top: 2025px;
}
.pptPdfpdfPage8Of51 {
  top: 2430px;
}
.pptPdfpdfPage10Of51,
.pptPdfpdfPage11Of51,
.pptPdfpdfPage12Of51,
.pptPdfpdfPage9Of51 {
  position: absolute;
  top: 2835px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage10Of51,
.pptPdfpdfPage11Of51,
.pptPdfpdfPage12Of51 {
  top: 3240px;
}
.pptPdfpdfPage11Of51,
.pptPdfpdfPage12Of51 {
  top: 3645px;
  height: 361px;
}
.pptPdfpdfPage12Of51 {
  top: 4006px;
  height: 365px;
}
.pptPdfpdfPage13Of51,
.pptPdfpdfPage14Of51,
.pptPdfpdfPage15Of51,
.pptPdfpdfPage17Of51 {
  position: absolute;
  top: 4371px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage14Of51,
.pptPdfpdfPage15Of51,
.pptPdfpdfPage17Of51 {
  top: 4776px;
}
.pptPdfpdfPage15Of51,
.pptPdfpdfPage17Of51 {
  top: 5181px;
}
.pptPdfpdfPage17Of51 {
  top: 5586px;
}
.pptPdfpdfPage18Of51,
.pptPdfpdfPage19Of51,
.pptPdfpdfPage20Of51,
.pptPdfpdfPage21Of51 {
  position: absolute;
  top: 5991px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage19Of51,
.pptPdfpdfPage20Of51,
.pptPdfpdfPage21Of51 {
  top: 6396px;
}
.pptPdfpdfPage20Of51,
.pptPdfpdfPage21Of51 {
  top: 6801px;
}
.pptPdfpdfPage21Of51 {
  top: 7206px;
}
.pptPdfpdfPage22Of51,
.pptPdfpdfPage23Of51,
.pptPdfpdfPage25Of51,
.pptPdfpdfPage26Of51 {
  position: absolute;
  top: 7611px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage23Of51,
.pptPdfpdfPage25Of51,
.pptPdfpdfPage26Of51 {
  top: 8016px;
}
.pptPdfpdfPage25Of51,
.pptPdfpdfPage26Of51 {
  top: 8421px;
}
.pptPdfpdfPage26Of51 {
  top: 8826px;
}
.pptPdfpdfPage27Of51,
.pptPdfpdfPage28Of51,
.pptPdfpdfPage29Of51,
.pptPdfpdfPage30Of51 {
  position: absolute;
  top: 9231px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage28Of51,
.pptPdfpdfPage29Of51,
.pptPdfpdfPage30Of51 {
  top: 9636px;
}
.pptPdfpdfPage29Of51,
.pptPdfpdfPage30Of51 {
  top: 10041px;
}
.pptPdfpdfPage30Of51 {
  top: 10446px;
}
.pptPdfpdfPage31Of51,
.pptPdfpdfPage32Of51,
.pptPdfpdfPage33Of51,
.pptPdfpdfPage34Of51 {
  position: absolute;
  top: 10851px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage32Of51,
.pptPdfpdfPage33Of51,
.pptPdfpdfPage34Of51 {
  top: 11256px;
}
.pptPdfpdfPage33Of51,
.pptPdfpdfPage34Of51 {
  top: 11661px;
}
.pptPdfpdfPage34Of51 {
  top: 12066px;
}
.pptPdfpdfPage35Of51,
.pptPdfpdfPage36Of51,
.pptPdfpdfPage37Of51,
.pptPdfpdfPage39Of51 {
  position: absolute;
  top: 12471px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage36Of51,
.pptPdfpdfPage37Of51,
.pptPdfpdfPage39Of51 {
  top: 12876px;
}
.pptPdfpdfPage37Of51,
.pptPdfpdfPage39Of51 {
  top: 13281px;
}
.pptPdfpdfPage39Of51 {
  top: 13686px;
}
.pptPdfpdfPage40Of51,
.pptPdfpdfPage41Of51,
.pptPdfpdfPage42Of51,
.pptPdfpdfPage43Of51 {
  position: absolute;
  top: 14091px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage41Of51,
.pptPdfpdfPage42Of51,
.pptPdfpdfPage43Of51 {
  top: 14496px;
}
.pptPdfpdfPage42Of51,
.pptPdfpdfPage43Of51 {
  top: 14901px;
}
.pptPdfpdfPage43Of51 {
  top: 15306px;
}
.pptPdfpdfPage44Of51,
.pptPdfpdfPage45Of51,
.pptPdfpdfPage46Of51,
.pptPdfpdfPage47Of51 {
  position: absolute;
  top: 15711px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage45Of51,
.pptPdfpdfPage46Of51,
.pptPdfpdfPage47Of51 {
  top: 16116px;
}
.pptPdfpdfPage46Of51,
.pptPdfpdfPage47Of51 {
  top: 16521px;
}
.pptPdfpdfPage47Of51 {
  top: 16926px;
}
.pptPdfpdfPage48Of51,
.pptPdfpdfPage49Of51,
.pptPdfpdfPage50Of51,
.pptPdfpdfPage51Of51 {
  position: absolute;
  top: 17331px;
  left: 0;
  width: 720px;
  height: 405px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage49Of51,
.pptPdfpdfPage50Of51,
.pptPdfpdfPage51Of51 {
  top: 17736px;
}
.pptPdfpdfPage50Of51,
.pptPdfpdfPage51Of51 {
  top: 18141px;
}
.pptPdfpdfPage51Of51 {
  top: 18546px;
}
.desktop1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 18951px;
  overflow: hidden;
}
